<!DOCTYPE html>

<html>
<head>
    <title>BuildingBuddies</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/html5up/css/main.css" />
</head>
<body class="is-preload">

    <div id="header">

        <div class="top">

            <div id="logo">
                <h1 id="title">Building Buddies</h1>
                <p>Get to know your building buddies</p>
            </div>

            <nav id="nav">
                <ul>
                    @{
                        if (@ViewData["MeetingOrganizer"] == null)
                        {
                            ViewData["MeetingOrganizer"] = false;
                        }

                        if (@ViewData["Connected"] == null)
                        {
                            ViewData["Connected"] = false;
                        }

                        if (@Context.Request.Path == "/signalr")
                        {
                            ViewData["MeetingOrganizer"] = false;
                            ViewData["Connected"] = true;
                        }

                        <li><a href="Index" id="top-link"><span class="icon fa-building">Home</span></a></li>

                        if ((bool)@ViewData["MeetingOrganizer"] == true)
                        {
                            <li><a href="meetings" id="about-link"><span class="icon fa-users">Meetings</span></a></li>
                            <li><a href="departments" id="contact-link"><span class="icon fa-sitemap">Departments</span></a></li>
                        }
                        else
                        {
                            if ((bool)ViewData["Connected"] == true)
                            {
                                <li><a href="signalr" id="abodut-link"><span class="icon fa-comments-o">Chat</span></a></li>
                            }
                        }

                        if ((bool)ViewData["Connected"] != true && (bool)@ViewData["MeetingOrganizer"] != true)
                        {
                            <li><a href="login" id="portfolio-link"><span class="icon fa-sign-in">Sign In</span></a></li>
                            <li><a href="register" id="about-link"><span class="icon fa-plus-circle">Register</span></a></li>
                        }
                        else
                        {
                            <li><a href="profile" id="about-link"><span class="icon fa-user">Change your password</span></a></li>
                            <li><a href="logout" id="about-link"><span class="icon fa-sign-out">Sign Out</span></a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>

    <div id="main">

        @RenderBody()

    </div>

    @RenderSection("Scripts", required: false)

    <script src="~/html5up/js/jquery.min.js"></script>
    <script src="~/html5up/js/jquery.scrolly.min.js"></script>
    <script src="~/html5up/js/jquery.scrollex.min.js"></script>
    <script src="~/html5up/js/browser.min.js"></script>
    <script src="~/html5up/js/breakpoints.min.js"></script>
    <script src="~/html5up/js/util.js"></script>
    <script src="~/html5up/js/main.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>