@page
@model BuildingBuddies.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Domain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Domain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Department.DepartmentID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Meeting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Meeting.MeetingID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.AgreedMeeting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.AgreedMeeting.AgreedMeetingID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
