@page
@model BuildingBuddies.Pages.Meetings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Domain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Domain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.EndDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Meeting.MeetingID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
