@page "{id:int?}"
@model BuildingBuddies.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Domain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Domain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.MeetingID">Edit</a>
</div>
